$font: "Poppins";

$white: #FFF;
$black: #000;
$green: #276D4A;
$green_secundary:  #2ecc71;
$green_terciary: #8CFDC5;
$green_four: #174E33;
$gray: #555;
$gray-light: #f1f1f1;

$back_color: linear-gradient(148deg, #131313, #8CFDC5, #797979);
$background_left:  linear-gradient(to left, #276D4A, #359364, #3CA671, #42B97E, #6AD59F);
$background_right:  linear-gradient(to right, #276D4A, #359364, #3CA671, #42B97E, #6AD59F);